body {
  background-image: url('./assets/headerDecoration.svg');
  background-position-x: 75vw;
  background-repeat: no-repeat;
  background-size: 20%;
}

header {
  margin-top: 2em;
  display: flex;
  grid-area: 1/1/1/6;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.headerContainer {
  justify-content: flex-start;
  width: auto;
  background-image: none;
  margin: 1rem;
}

.headerContainer__switch {
  position: absolute;
}

.headerContainer__switch__slider {
  top: 0.5em;
  right: -90vw;
}

#menu {
  margin-right: auto;
}

#menuToggle {
}

#menuToggle input {
  display: none;
}

ul {
  display: flex !important;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0;
  margin: 0;
  width: 70vw;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  font-size: 2em;
}

.hero {
  width: auto;
  font-size: 2em;
  padding: 2rem 2em;
  color: black;
  background-color: var(--bg-color);
}

li {
  color: white;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 2em;
}

.game,
.addPlant {
  max-width: 48rem;
}

.addPlantForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.addPlant__item {
  width: 13rem;
}
