:root {
  --primary-color: #058c42;
  --secondary-color: #e3fbce;
  --border-color: #04471c;
  --acent-color: #ec7c32;
  --bg-color: #fffef8;
  --heading-color: #292922;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------------- Header ------------------- */

.header {
  display: flex;
  justify-content: center;
  background-image: url('./assets/header_decoration_resized.svg');
  background-repeat: no-repeat;
  background-position-x: 1em;
}


.backgroundLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: var(--primary-color);
  margin: 10px;
  border-radius: 50%;
}


/*-------------------------HERO----------------------*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  color: white;
  text-align: center;
  background-color: var(--primary-color);
}

/*----------------------GAME-------------------------*/

.game {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.game__plant__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.game__plant__image__img {
  max-height: 260px;
  object-fit: cover;
  border-radius: 1.5rem;
}

.game__answers {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.game__answers__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__answers__item input[type='checkbox'] {
  display: none;
}

.game__answers__item__text {
  border: 2px solid black;
  border-radius: 2rem;
  line-height: 3rem;
  width: 100%;
  text-align: center;
}

.game__answers__item input[type='checkbox']:checked + span {
  background-color: var(--primary-color);
}

.game__answers__submit {
  appearance: none;
  width: 100%;
  border: 2px solid black;
  border-radius: 2rem;
  line-height: 3rem;
  background-color: var(--primary-color);
}
