:root {
	--primary-color: #058c42;
	--secondary-color: #e3fbce;
	--border-color: #04471c;
	--accent-color: #ec7c32;
	--bg-color: #fffef8;
	--heading-color: #292922;
	--not-answered: #ccc;

	/*-----------DarkMode Color---------------*/
	--bg-dark-color: #494949;
	--button-dark-color: #848484;
}

/*------------ toggle colors gestion -------------*/
.wrongAnswer {
	background-color: var(--accent-color) !important;
	box-shadow: inset 2px 2px 2px 0 darkslategray !important;
}

.rightAnswer {
	background-color: var(--primary-color) !important;
	box-shadow: 2px 2px 2px 0 darkslategray !important;
}

.notAnswered {
	background-color: var(--not-answered) !important;
	color: black !important;
	box-shadow: inset 2px 2px 2px 0 darkslategray !important;
}

.darkMode {
	background-color: var(--bg-dark-color);
	color: white;
}

.darkModeButton {
	background-color: var(--button-dark-color);
	color: white;
}

.none {
	display: none;
}

.game_description {
	background-color: var(--secondary-color);
	color: black !important;
}

/*-------------------------------------------------------------------*/

html,
body {
	font-family: "PT Sans", sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	background-color: var(--bg-color);
}

img {
	max-width: 100%;
	height: auto;
}

/*---------------------- Header ------------------- */

.headerContainer {
	display: flex;
	justify-content: center;
	background-image: url("../assets/header_decoration_resized.svg");
	background-repeat: no-repeat;
	background-position-x: 1em;
	width: 100%;
}

.hero a {
	text-decoration: none;
	color: white;
}

.headerContainer__backgroundLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 70px;
	background-color: var(--primary-color);
	margin: 10px;
	border-radius: 50%;
}

/*---------------------Slidder Dark Mode-------------*/

/* The switch - the box around the slider */
.headerContainer__switch {
	margin: 0;
	width: 0px;
	height: 0px;
}

/* Hide default HTML checkbox */
.headerContainer__switch input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: -200;
	z-index: -1;
}

/* The slider */
.headerContainer__switch__slider {
	position: absolute;
	top: 1.5em;
	right: 2em;
	cursor: pointer;
	height: 40px;
	width: 80px;
	background-color: var(--border-color);
	transition: 0.4s;
}

/* The Knob */
.headerContainer__switch__slider:before {
	position: absolute;
	content: "";
	height: 32px;
	width: 32px;
	left: 4px;
	bottom: 4px;
	background-color: var(--primary-color);
	transition: 0.4s;
}

/* Determine behavior while checked */
input:checked + .headerContainer__switch__slider {
	background-color: var(--bg-color);
	border: var(--border-color) 1px solid;
}

input:checked + .headerContainer__switch__slider:before {
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}

/* Determine behavior on focus */
input:focus + .headerContainer__switch__slider {
	box-shadow: 0 0 1px black;
}

/* Rounded sliders */
.headerContainer__switch__slider.round {
	border-radius: 34px;
}

.headerContainer__switch__slider.round:before {
	border-radius: 50%;
}

/*-------------------------MENU TOGGLE----------------------*/
header nav {
	position: relative;
	z-index: 1;
}

.menuToggle {
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 0;
}

.menu {
	position: relative;
	list-style-type: none;
	padding: 0;
	width: 100%;
	top: 35px;
	transform: translateX(100%);
	visibility: hidden;
}

.menuToggle .menuBurger {
	display: block !important;
	position: absolute;
	right: 20px;
}

.menuToggle .menuBurger span {
	display: block;
	height: 5px;
	width: 2rem;
	margin: 5px 0;
	background-color: white;
}

.menuToggle input {
	z-index: 99;
	position: absolute;
	right: 10px;
	width: 50px;
	height: 50px;
	top: -10px;
	opacity: 0;
	cursor: pointer;
}

.menuToggle .menu .menuLink {
	display: block;
	font-size: 2em;
	text-decoration: none;
	width: 40vw;
	min-width: 18rem;
	color: white;
}

.menuToggle .menu .menuLink li {
	background-color: var(--primary-color);
	padding: 2rem 0;
	text-align: center;
}

.menuToggle input[type="checkbox"]:checked ~ .menu {
	visibility: visible;
	display: block;
	transform: translateX(0%);
	max-width: 100%;
	transition: transform 1s ease;
}

.menuToggle .input[type="checkbox"]:checked ~ .menu .menuLink li {
	background-color: var(--primary-color);
}

/*-------------------------HERO----------------------*/

.hero {
	font-family: "Rouge Script", cursive;
	font-size: 2.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	color: white;
	text-align: center;
	background-color: var(--primary-color);
}

/*----------------------GAME-------------------------*/

.game,
.addPlant {
	margin: 1em auto;
	padding: 0 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: 24rem;
}

.game_imageContainer__restart {
	position: absolute;
	height: 100px;
	width: 100px;
	top: -40px;
	right: -40px;
	border-radius: 50%;
	text-align: center;
	background-color: var(--primary-color);
	box-shadow: 5px 5px 5px black;
	z-index: 2;
}

.game__imageContainer {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-bottom: 2rem;
}

.game__imageContainer__img {
	max-height: 260px;
	object-fit: cover;
	border-radius: 1.5rem;
}

.game__answers {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 1rem;
	margin-bottom: 1rem;
}

.game__answers__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game__answers__item input[type="radio"] {
	display: none;
}

.game__answers__item__text {
	box-shadow: 2px 2px 2px 0 darkslategray;
}

.game__answers__item__text,
.game_description {
	border: 2px solid black;
	border-radius: 2rem;
	line-height: 3rem;
	width: 100%;
	text-align: center;
}

.game__answers__item input[type="radio"]:checked + span {
	background-color: var(--secondary-color);
	color: black;
}

.game__answers__submit {
	appearance: none;
	width: 100%;
	border: 2px solid black;
	border-radius: 2rem;
	line-height: 3rem;
	background-color: var(--primary-color);
	color: white;
}

.game__description {
	border: 2px solid black;
	border-radius: 2rem;
	padding: 1rem;
	background-color: var(--secondary-color);
}

/*----------------------ADD PLANT FORM-------------------------*/

.addPlantForm {
	margin-top: 2rem;
}

.addPlant__item {
	display: flex;
	align-items: center;
	margin: 2rem 0;
	padding: 1.3rem 3rem;
	border: 2px solid var(--border-color);
	border-radius: 1.5rem;
	position: relative;
	box-shadow: inset 0 -4px 10px rgb(160, 160, 160);
}

.darkMode .addPlant__item {
	border: 2px solid var(--bg-color);
	box-shadow: inset 0 -10px 10px var(--heading-color);
}

.addPlant__item.alert {
	border: 2px solid red;
}

.addPlant__item.success {
	border: 2px solid var(--primary-color);
}

.addPlant__item__label {
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--border-color);
	margin: 0 0 0 1rem;
	position: absolute;
	top: -1rem;
	left: 1rem;
	background-color: var(--bg-color);
	padding: 0 0.8rem;
}

.darkMode .addPlant__item__label {
	color: var(--bg-color);
	background-color: var(--bg-dark-color);
}

.addPlantForm input {
	/* width: 100%; */
	background-color: transparent;
	border: none;
	color: black;
}

.darkMode .addPlantForm input {
	color: white;
}

input[type="radio"]:nth-of-type(2) {
	margin-left: 3rem;
}

.addPlantForm .addPlant__submit {
	appearance: none;
	display: block;
	color: var(--bg-color);
	font-weight: bold;
	border: none;
	margin: 3rem auto;
	width: 60%;
	padding: 0.8rem 0;
	border-radius: 1rem;
	background-color: var(--border-color);
	transition: background-color 0.3s ease;
	border: 2px solid transparent;
}

.darkMode .addPlant__submit {
	background-color: var(--bg-color);
	color: var(--heading-color) !important;
}

.addPlant__submit:hover {
	background-color: var(--secondary-color);
	color: var(--heading-color);
	border: 2px solid var(--primary-color);
}

.footer {
	margin-top: 3rem;
	padding: 2rem 3rem;
	background-color: #292922;
	color: white;
}

.footer__canvas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 60rem;
	margin: 0 auto;
}

.footer__contact {
	color: white;
	text-decoration: none;
	display: block;
}

.footer__contact:hover {
	text-decoration: underline;
}

.footer__social {
	display: flex;
}

.footer__social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
}

.footer__social__link + .footer__social__link {
	margin-left: 0.6rem;
}

.footer__social__link__icon {
	filter: brightness(0) invert(1);
	display: block;
}

.footer__social__link:hover .footer__social__link__icon {
	filter: brightness(0) invert(92%) sepia(20%) saturate(334%)
		hue-rotate(41deg) brightness(102%) contrast(97%);
}

.footer__social__link:focus .footer__social__link__icon {
	filter: brightness(0) invert(36%) sepia(30%) saturate(2625%)
		hue-rotate(115deg) brightness(95%) contrast(96%);
}

@keyframes slidein {
	from {
		transform: translateX(100px);
		font-size: 10px;
	}

	to {
		transform: translateX(0px);
		font-size: 20px;
	}
}
